.login-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out; /* Smooth transition */
}

.login-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    padding-top: 50%;
    background: url('/gangster_assets/login_form.png') no-repeat center center;
    background-size: contain;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-input {
    width: 80%;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

.remember-me {
    position: relative;
    left: 40px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    color: #fff;
    width: 80%;
}

.remember-me input[type="checkbox"] {
    margin-right: 10px;
}

.remember-me label {
    font-size: 14px;
}

.login-button {
    width: 80%;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease, background-color 0.3s;
}

.login-button:hover {
    background-color: #fce0b4; 
}

.login-button.hanging {
    transform: rotate(-15deg) translate(-20px, 10px);
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader-text {
    font-size: 20px;
    color: #333;
}

.our-input-fields {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.login-input::placeholder {
    font-weight: bold;
    color: #ffffff;
}
